.name {
  font-size: 150px;
  font-family: 'rajdhani';
  padding-top: 50px;
  color: white;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bounceInDown; 
  animation-duration: 1.5s;
}

.about {
  width: 600px;
  margin: auto;
  color: white;
  font-family: 'rajdhani';
  font-weight: 600;
}