.App {
  text-align: center;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

html {
  padding: 0px;
}

.hidden {
  display: none;
}

.Link {
  text-decoration: none;
  color: black;
}