.line {
  margin: auto;
  width: 600px;
  border: 1px solid black;
  margin-bottom: -25px;
}

li {
  text-decoration: none;
  display: inline-block;
  margin: 50px;
  color: white;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'rajdhani';
  font-weight: 600;
}

.navbar {
  position: absolute;
  margin: auto;
  bottom: 0px;
  left: 0;
  right: 0;
}

ul {
  padding: 0px;
}