.skills-div {
  margin-top: 350px;
}

.skill-name {
  font-size: 150px;
  font-family: 'rajdhani';
  padding-top: 50px;
  color: white;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  animation: lightSpeedInLeft; 
  animation-duration: 1s;
}

.skills {
  display: flex;
}

.front-end {
  flex: 1;
}

.back-end {
  flex: 1;
}

.libraries {
  flex: 1;
}