.skills-div {
  margin-top: 300px;
}

.skill-name {
  font-size: 150px;
  font-family: 'rajdhani';
  padding-top: 50px;
  color: white;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: lightSpeedInLeft; 
  animation-duration: 1s;
}

.skills {
  display: flex;
  column-gap: 5rem;
  justify-content: space-evenly;
}

.tech-stack-divs {
  flex: 1;
  max-width: 300px;
  margin-bottom: 2rem;
}

.tech-stack-name {
  font-size: 50px;
  font-family: 'rajdhani';
  color: white;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid black;
}

.skill-div {
  display: flex;
  height: 100px;
}

.skill-image-div {
  flex: 1;
}

.skill-image {
  width: 50px;
  margin-top: 50px;
  display: block;
  padding-left: 20px;
}

.single-skill-name {
  
  color: white;
  padding-left: 50px;
  padding-right: 150px;
  padding-top: 15px;
  font-size: 2.5rem;
  flex: 1;
  font-family: 'rajdhani';

}

.frontend-component {
  flex: 1;
}

@media (max-width: 600px) {
  .skills {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 50px;
  }

  .single-skill-name {
    
  }

  .skill-name {
  margin-top: -200px;
  font-size: 100px;
  margin-bottom: -10px;
  }

  .tech-stack-name {
    margin-left: 103px;
    display: block;
    margin-top: 4rem;
  
  }
}