.project-div {
  margin-top: 50px;
  height: 600px;
}

.name-div {
  height: 240px;
}

.animate {
  margin-bottom: -50px;
  animation: lightSpeedInLeft; 
  animation-duration: 1s;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-left: 50px;
  margin-right: 50px;
}

.project-inview {
  flex: 1;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  opacity: 0;
  transform: scale(85%);
  transition: 2s;
}

.zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.project1 {
height: 100%;
width: 100%;
margin: 0px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px 0px;

}

.tech-stack-div {
 background-color: white;
 margin-top: -17px;
 height: 300px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px 0px;

}

.project-info {
  font-size: 15px;
  color: black;
  margin-bottom: 0px;
  font-family: 'rajdhani';
  font-weight: 600;
  padding: 30px;
  
}

.tech-stack-div img {
  width: 50px;
  padding-left: 20px;
  padding-right: 20px;
}